<intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data
        android:scheme="file"
        android:host="*"
        android:pathPattern=".*\\.ora"
        android:mimeType="application/x-ora" />
</intent-filter>
